body{
    margin: 0px!important;
    padding:0px!important;
    font-family: 'Open Sans', sans-serif;
}
.publicity-header{
    height:400px;
    background-image: -moz-linear-gradient( -45deg, rgb(123,38,145) 0%, rgb(11,58,92) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(123,38,145) 0%, rgb(11,58,92) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(123,38,145) 0%, rgb(11,58,92) 100%);

}
.publicity-header h1{
    font-size: 50px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.04;
    padding-top:68px;
    margin-bottom:20px;
    letter-spacing: -2px;
}
.publicity-header h4{
    font-size: 20px;
    font-weight: 300!important;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1;
}
.custom-link-generator
{
    margin: 35px auto auto auto;
    padding: auto;
    
}
.custom-link-generator textarea{
    width:100%;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300!important;
    font-family: "Open Sans", sans-serif;
    color: rgba(238, 238, 238, 0.502);
    outline: none;
    resize: none;
    height: auto;
    overflow: hidden;
}
.form-horizontal{
    margin: 38px auto auto auto!important;
}
.f-wrapper{
    position: relative;
    margin:0 auto;
    padding:auto;
}
.f-wrapper span{
       position: absolute;
       right: 230px;
       left:230px;
       top: 65px;
       font-size: 16px;
       font-weight: 300;
       font-family: "Open Sans", sans-serif;
       color: rgba(238, 238, 238, 0.502);
       background-color: transparent;
       display: none;      
}
.ts{
    font-weight:800!important;
}
.publicity-header input{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.1);
    width: 425px;
    height: 60px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.875;
    border:0;
    padding: 15px;
    text-decoration: none;
    outline:none;    
}
.publicity-header .copyurl{
    width: 150px;
    background-color: #007bff;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.875;
    border-radius:0;
    border:0;
}
.publicity-header .btn-g-link:focus{
    outline:none!important;
    box-shadow:none!important;
}
.bodycontent{
    background-color: #f5f7fb;
}
.bodycontent a{
    text-decoration: none;
    color:#21649F!important;
}
.publicity-header a{
    text-decoration: underline!important;
    color:rgb(255, 255, 255)!important;
}
.publicity-header a:hover, .publicity-header a:active{
    text-decoration: underline!important;
}
.three-steps-heading{
    font-size: 32px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: rgb(51, 51, 51);
    line-height: 1.313;
    
    margin:55px auto 58px auto;
}
.three-steps-bar{
    background-image: -moz-linear-gradient( 0deg, rgb(241,196,15) 0%, rgb(68,157,68) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(241,196,15) 0%, rgb(68,157,68) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(241,196,15) 0%, rgb(68,157,68) 100%);
    height:4px;
}
.three-steps-detail h3{
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;

}
.three-steps-detail p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 26px;
    text-align: center;
}
.list-holders{
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 0px 1px 13.5px 1.5px rgba(0, 0, 0, 0.05);
    width:50px;
    height:50px;
}
 .system-works-list{
    position: relative;
    border-color: rgb(204, 204, 204);
    background-color:rgb(255, 255, 255);
    margin:-28px 0px 10px 140px;
}
.accept-reject-list{
    border-color: rgb(255, 255, 255);
    position: relative;
    top:-5px;
    flex:1 0 auto;
}

.system-works-list-num{
    position:absolute;
    font-size: 20px;
    font-family:'Open Sans'; 
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    left:15px;
    top:8px;
    font-size: 20px;
}
.accept-reject-num{
    position:absolute;
    color: rgb(255, 255, 255);
    line-height: 1.83;
    left:12px;
    top:13px;
}
#item-green{
    background-color: rgb(68, 157, 68);
}
#item-yellow{
    background-color: rgb(235, 194, 16);
}
.accept-reject{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 1.75;
    margin-top:40px;
    display:flex;
    justify-content: center;
    
}
.r-accepted{
    background-color: rgb(68, 157, 68,0.102);
    box-shadow: 0px 1px 13.5px 1.5px rgba(0, 0, 0, 0.05);
    height: 148px;
    width:auto!important;
    
}
.r-rejected{
    background-color: rgb(235, 194, 16, 0.102);
    box-shadow: 0px 1px 13.5px 1.5px rgba(0, 0, 0, 0.05);
    width:auto!important;
}
.accepted-lhs p, .rejected-rhs p{
    padding-top:30px;
}
.traffic-contain{
    background-color: rgb(233,233,233);
    margin-top:40px;
}
.traffic-lhs, .traffic-rhs{
    width: 90%;
    margin:0 auto;
}
.traffic-detail h3{
    font-size: 22px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.653;
}
.traffic-detail p{
    font-size: 16px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
}

/* RESPONSIVE MEDIA QUERIES START FROM HERE*/

@media (max-width:1199px){
    .publicity-header{
        height:auto!important;
    }
    .system-works-list{
        margin: -25px auto 10px auto!important;
    }
    .publicity-header h4{
        margin-top:30px;
    }
    .custom-link-generator textarea{
        padding-bottom: 50px;
    }
}

@media (max-width:991px){
    .container{
        margin:auto!important;
    }
    .publicity-header{
        height:auto!important;
    }
    .publicity-header h4{
        margin: 30px 20px auto 20px;
        line-height: 26px;
    }
    .custom-link-generator textarea{
        padding-bottom: 50px;
    }
    .publicity-header input::placeholder{

        font-size:14px!important;
    }
    .system-works-list{
        margin: 20px auto 20px auto!important;
    }
    .r-accepted, .r-rejected{
        height: auto!important;
        width: auto!important;   
    }
    .three-steps-bar{
        visibility: hidden;
    }
    .three-steps-heading{
        margin-bottom: 10px;
    }
    .f-wrapper span{
        font-size: 12px;
        margin:0 auto;
    }
}

@media (max-width:768px){

    .publicity-header h1{
        font-size: 30px;
        font-weight: 600;
    }
    .publicity-header h4{
        font-size: 18px;
        margin: 30px 20px auto 20px;
        line-height: 26px;
    }
    .publicity-header input, .publicity-header .copyurl{
        margin:auto auto 15px auto!important;
        width:90%;
        height: 45px;
    }
    .three-steps-bar{
        visibility: hidden;
    }
    .accept-reject{
        display:block!important;
        margin:0 auto;
    }
    .r-rejected{
        margin-top: 30px;
    }   
    .accepted-lhs, .rejected-rhs{
        padding:10px;
        margin: 20px auto 20px auto;
    }
    .accepted-lhs p, .rejected-rhs p{
        padding-top: 10px!important;
        font-size: 14px;
    }
    .f-wrapper span{
        left: 80px;
        right:80px;
        top: 120px;
        bottom:120px;
    }
}
